/* src/pages/navigate.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Light background color for contrast */
}

.navigate-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height for the container */
}

h1 {
    text-align: center;
    margin: 20px 0; /* Add margin for spacing */
    color: #343a40; /* Darker text color */
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
    margin-bottom: 20px;
    padding-right: 20px; /* Add some padding to the right */
}

input {
    margin-right: 10px;
    padding: 10px;
    flex-grow: 1; /* Allow inputs to grow */
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Add shadow for depth */
}

input:focus {
    border-color: #007BFF; /* Change border color on focus */
    outline: none; /* Remove default outline */
}

button {
    padding: 10px 15px; /* Add horizontal padding for button */
    background-color: #007BFF; /* Primary button color */
    color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Add shadow for depth */
}

button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

button:focus {
    outline: none; /* Remove default outline on focus */
}

.input-container {
    position: relative; /* Ensure positioning context for suggestions */
}

input {
    width: 100%; /* Ensure input takes full width */
    box-sizing: border-box; /* Include padding and border in width */
}

.suggestions {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    background-color: white;
    max-height: 150px; /* Limit height */
    overflow-y: auto; /* Enable scrolling */
    position: absolute; /* Position below input */
    top: calc(100% + 2px); /* Position it just below the input box */
    right: 0; /* Align it to the right side of the input box */
    width: 25%; /* Set width of the suggestion box */
    z-index: 1000; /* Ensure it appears above other elements */
    border-radius: 4px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
}

.suggestions li {
    padding: 8px 12px; /* Add padding for a cleaner look */
    cursor: pointer;
    font-size: 14px; /* Slightly smaller font size */
    color: #343a40; /* Darker text color for better visibility */
}

.suggestions li:hover {
    background-color: #007BFF; /* Highlight color on hover */
    color: #fff; /* White text on hover */
}
